.btn{
	display: none;


	@media screen and (min-width: 600px){
		display: block;
		position: absolute;
		z-index: 1;
		opacity: .7;
		color: #000;

		&:hover{
			color: #FFF;
		}

		&.btn-prev{
			top: 35%;
			left: 20px;
		}

		&.btn-next{
			top: 35%;
			right: 20px;
		}
	}
}


