.circle {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 10px 0 0 5px;

}

/* circle colors */

.circle-1{
	background-color: #444;
	}
.circle-2{
	background-color: #CCC;
	}
.circle-3{
	background-color: #000;
	}
.circle-4{
	background-color: #FFF;
	border: 3px solid black;
	}