.circle-img{
	padding-top: 40px;
	border-radius: 50%;
	width: 200px;
	margin: 0 auto;
	}

@media all and ( min-width: 600px ) {
.circle-img{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	display: block;
    width: 250px;
    padding-bottom: 10px;
}

}
