div#main-content{
	padding: 10px 20px 10px 20px;
	margin: 0 auto;
	background: #f7f7f7;
}


div#work {
	padding: 10px 20px 0px 20px;
	height: 100%;
	margin: 0 auto;
	background: #C8C8C8;
	
}

div#work{
	max-width: 100%;
	a:focus{
	outline: none;
	}
}


.screenshot{
	width: 100%;
	border-radius: 3%;
	margin: 0 auto;
	img{

	}
}

.description{
	margin: 0 auto;
	max-width: 100%;
	font-size: 14px;
	text-align: center;
}

.profile-img{
	display:none;
}

.mobile-profile-img{
	text-align: center;

}

@media screen and (min-width: 768px) {

.description{ 
  	font-size: 20px;
  	max-width: 50%;
  	padding: 3px;
  	margin-top: 5px;
   }

.profile-img{
  	position: relative;
	display: block;
	margin: 0 auto;

}

.mobile-profile-img{
	display: none;
}

.screenshot{
	max-width: 75%;
	img{max-width: 50%;
	height: auto;}
}
}
