div#header{
	
}	

.banner-img{
	display: none;
}


@media all and ( min-width: 600px ) {

div#header{
	
}	

.banner-img{
	display: block;
	background: transparent url("../assets/imgs/background.jpg") 0 no-repeat fixed;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.overlay{
	background-color: #C8C8C8;
	opacity: .4;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	}
}









